xcuserdata
.DS_Store
html
appledoc
*.pyc
user.*.espressostorage
Sparkle/*.app
*.zip
PXListView
ExampleApp/build/KGModalExample.build/Debug-iphonesimulator/KGModalExample.build/KGModalExample-all-target-headers.hmap
ExampleApp/build/KGModalExample.build/Debug-iphonesimulator/KGModalExample.build/KGModalExample-generated-files.hmap
ExampleApp/build/KGModalExample.build/Debug-iphonesimulator/KGModalExample.build/KGModalExample-own-target-headers.hmap
ExampleApp/build/KGModalExample.build/Debug-iphonesimulator/KGModalExample.build/KGModalExample-project-headers.hmap
ExampleApp/build/KGModalExample.build/Debug-iphonesimulator/KGModalExample.build/KGModalExample.hmap
